.voting-cards__container {
}

.voting-cards__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.voting-cards__heading > h2 {
    font-weight: 300;
    margin: 0;
}

select {
    text-align: center;
    appearance: none;
    border: 2px solid #333;
    width: 131px;
    height: 28px;
    padding: 0 1em 0 0;
    font-size: inherit;
    cursor: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

select::-ms-expand {
    display: none;
}

@media (max-width: 500px) {
    select {
       display: none;
    }
}

@media (min-width: 768px) {
    select {
        width: 131px;
        height: 28px;
    }
    .select {
        font-size: 10.5px;
    }
}

@media (min-width: 1100px) {
    select {
        width: 173px;
        height: 36px;
    }
    .select {
        font-size: 13.5px;
    }
};

