.voting-card__container--square {
    width: 100%;
    height: 100%; 
    position: relative;
}

.voting-card__container--rectangle {
    height: 170px;
    position: relative;
    display: flex;
    background: rgb(136,136,136);
    background: linear-gradient(90deg, rgba(136,136,136, 1) 0%, rgba(102,102,102,1) 50%, rgba(51,51,51, 0.8) 71%);
}

.voting-card__container--square > img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.voting-card__container--rectangle  > img {
    object-fit: cover;
    mask-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 5%, #888888 66%, #666666 100%, rgba(51, 51, 51, 0.9) 100%);;
}

.voting-info__container--floating {
    position: absolute;
    top: 0;
    bottom: 10%;
    font-size: 15px;
    color: var(--color-white);
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background:  linear-gradient(180deg,rgba(0,0,0,.0001) 0%,rgba(0,0,0,.6) 100%) 
}


.voting-info__container {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0 0 0 ;
}

/**** Info ******/ 

.voting-info_heading {
    display: flex;
}

.voting-info_heading > :first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-right: 10px;
}

.voting-info_heading > :nth-child(2) {
    display: flex;
    flex-direction: column;
}

.voting-info__title {
    color: var(--color-white);
    font-size: 36px;
    font-weight: 400;
    margin: 0 !important;
    margin-bottom: revert;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.voting-info__description {
    font-weight: 400;
    margin: 0 !important;
    display: -webkit-box;
    overflow: hidden;
    max-height: 10.5rem;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    padding-right: 1rem;
}

.voting-buttons__time {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.voting-trend__indicator {
    padding: 0.5rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
}

.voting-trend__indicator--floating {
    position: absolute;
    top: 0;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.voting-trend__indicator[aria-label="thumbs down"], .voting-trend__indicator--floating[aria-label="thumbs down"] {
    background-color: rgba(var(--color-yellow-negative), 1);
}

.voting-trend__indicator[aria-label="thumbs up"], .voting-trend__indicator--floating[aria-label="thumbs up"]{
    background-color: rgba(var(--color-green-positive), 1);
}

/**** Voting buttons ******/

.voting-section_container {
    padding-right: 1rem;
}

.voting-buttons__container {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.voting_button_container {
    cursor: pointer;
    width: 135px;
    background: var(--color-darker-background);
    border: 1px solid var( --color-lighter-background);
    color: var( --color-lighter-background);
    height: 30px;
}

.voting_button_container:disabled {
    background: var(--color-dark-background);
    border: 1px solid var( --color-light-background);
    color: var( --color-light-background);
}

.thumb-button_container {
    width: 30px;
    height: 30px;
}

.thumb-button_container > img {
    height: 16px;
}

.thumb-button_container:focus {
    outline: 2px solid var(--color-white)
}

.gauge-bar__container--floating {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10%;
}

.gauge-bar__container--floating--list {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
}


/* @media all and (max-width: 500px) {
    .voting-info__container--floating {
        width: 100%;
    }
}

@media all and  (min-width: 768px) {

}

@media all and  (min-width: 1100px) {
} */