.gauge-bar__container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
}

.gauge-bar__container > * {
    display: flex;
    align-items: center;
}

.gauge_bar--positive {
    height: 100%;
    background: rgba(60, 187, 180, 0.8);
    justify-content: start;
    padding-left: 0.5rem;
}

.gauge_bar--negative {
    height: 100%;
    background: rgba(249, 173, 29, 0.8);
    justify-content: end;
    padding-right: 0.5rem;
}

.gauge_bar--positive > span , .gauge_bar--negative  > span{
    color: var( --color-white);
    padding: 0 5px;
}